# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Database
db.sqlite

# Uploads (если не хочешь заливать, но для хакатона можно)
uploads/

# Environment variables
.env